
.content {
    text-align: center;
    margin: 5px;
}

/* section 2 : course card design */

.rowc{
    float: left;
    width: 19%;
    text-align: center;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    transition: 0.3s;
  }
  .rowc img {
    width: 100%;
  }
  .rowc p {margin: 10px; font-size: 17px;}
  .rowc h3 {
    margin: 5px;
     color: #2d5986; 
     font-size: 17px; 
     font-weight: bold;
     border-style: ridge;
    }
  
  @media screen and (max-width: 800px) {
    .rowc {
      width: 48%;
      margin: auto;
    margin: 4px;
    float: left;
    }
    .rowc img {
    width: 100%;
  }
  }

  .todo:after{
    content: "";
    display: table;
    clear: both; 
  }